*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-width: 1260px;
}
section{
	overflow: hidden;
}
h3{
	color: #222;
	font-family: BigJohn;
	font-size: 30px;
	font-weight: 400;	
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
}
.subtext{
	width: 745px;
	color: #222222;
	font-family: Amble;
	font-size: 22px;
	font-weight: 300;
	line-height: 36px;	
	text-align: center;
	margin: auto;
	letter-spacing: 0.2px;
}
.btn_black{
	padding-top: 79px;
	padding-bottom: 80px;
}
.btn_black a{
	width: 370px;
	height: 60px;
	border: 3px solid #222222;
	background: transparent;
	color: #222;
	font-family: Amble;
	font-size: 24px;
	font-weight: 700;
	line-height: 55px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	letter-spacing:1.5px;
}
.btn_white{
	margin:auto;
	padding-top: 200px;
	padding-bottom: 200px;
}
	
.btn_white a{
	width: 430px;
	height: 100px;
	border: 3px solid #ffffff;
	color: white;
	background: transparent;
	font-family: Amble;
	font-size: 30px;
	font-weight: 700;
	line-height: 95px;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 0 auto;
	letter-spacing:1.5px;
}
.btn_white a:hover, .btn_black a:hover{
	border: 3px solid #d56e4e;
	color:  #d56e4e;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.dush_white{
	width: 86px;
	height: 2px;
	background-image: url(../img/icon/shape-wh.svg);
	margin: auto;
}
.dush_black{
	width: 86px;
	height: 2px;
	margin: auto;
	margin-top: 59px;
	margin-bottom: 62px;
	background-image: url(../img/icon/shape-bl.svg);
}
#talent{
	background-color: #d56e4e;
	position: relative;
	z-index: 1;
	padding-top: 47px;
	height: 900px;
}
.bg_header{
	width: 100%;
	height: 900px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
	background: url(../img/header-bg.jpg) no-repeat;
	background-size: cover;
}
.gradient_header{
	height: 900px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75;
	z-index: -1;
	background: linear-gradient(to left, #bb4343 0%, #efab4b 100%);
}
h1{
	padding-top: 207px;
	padding-bottom: 48px;
	font-size: 48px;
	color: #ffffff;
	font-family: BigJohn;
	font-weight: 400;	
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
}
#talent .subtext{
	padding-top: 35px;
	padding-bottom: 286px;
	margin: auto;
	color: #ffffff;
	line-height: 30px;
}
#main_menu{
	width: 45px;
	height: 45px;
	margin-left: 44px;
	overflow: hidden;
}
/*.menu{
	height: 40px;
}*/
.main-item{
	list-style: none;
	transition:0.5s;
	font-family: BigJohn;
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	font-weight: 600;
	line-height: 40px;
	padding-left: 45px;
	background: url(../img/icon/menu-ic.svg)no-repeat 5px 0px;
}
.main-item:focus ~ .vtoggle,
.main-item:active ~ .vtoggle,
.vtoggle:hover 
{ 
   display: block;
   -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition:  0.5s;
    transition: 0.5s;
}
.vtoggle{
	display: none;
	position: absolute;
	top: 87px;
	left: 30px;
	list-style: none;
}
.vtoggle li{
	position: relative;
	padding-left: 15px;
}
.vtoggle li a{
	transition:0.5s;
	display: block;
	text-decoration: none; 
	text-align: left;
	font-family: BigJohn;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	width: 330px;
	font-style: italic;
	padding-left: 10px;
}
.vtoggle a:hover{
	background: #222222;
	width: 330px;
	height: 40px;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.mouse_scroll_ic{
	width: 30px;
	height: 48px;
	margin: auto;
	background: url(../img/icon/mouse-scroll-ic.svg) no-repeat;
	padding-bottom: 61px;
}
.mouse_scroll_ic a{
	width: 30px;
	height: 48px;
	display: block;
	cursor: pointer;
}

#introduction{
	padding-top: 97px; 
	padding-bottom: 112px;
	overflow: hidden;	
}

#creativity{
	height: 500px;
	background: url(../img/creativity_bg.jpg) no-repeat 0px -318px;
	background-size: 100%;
}
.creativity_bg{
	background:rgba(34, 34, 34, 0.6);
}
#creativity .btn_white a{
	text-transform: capitalize;
}
#btn_white span{
	text-transform: capitalize;
}

#our_works{
	padding-top: 97px;
	background-color: #ffffff;
	overflow: hidden;
}
#menu_works{
  width: 55%;
  height: 31px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 88px; 
  padding-top: 30px;
}
#menu_works li{
  display: inline-flex;
  list-style: none;
}
#menu_works li:first-child a{
	pointer-events: none;
	cursor: default; 
	font-family: BigJohn;
  	font-weight: 400;
 }
#menu_works a{
  display: block;
  text-decoration: none;
  height: 31px;
  color: #222;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  font-family: SlimJoe;
  margin-left: 35px;
  text-align: center;
}
#menu_works ul li:first-child a{
  margin-left: 0;
}
#menu_works a:hover{
  font-family: BigJohn;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  o-transition: 0.5s;
  transition: 0.5s;
}
#img_works{
  width: 1178px;
  height: 860px;
  margin: auto;
}
#img_works a:first-child, #img_works a:nth-child(4){
   margin-left: 3px;
}
#img_works a:nth-child(4), #img_works a:nth-child(5), #img_works a:nth-child(6){
   margin-bottom: 0px;
}
#img_works a{
	display: inline-block;
	width: 370px;
	height: 420px;
	margin-left: 26px;
	margin-bottom: 20px;
	position: relative;
}
.hover_work{
	width: 370px;
	height: 420px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	border: 5px solid #000000;
	box-sizing: border-box;
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  o-transition: 0.5s;
  transition: 0.5s;
}
.hover_work div{
	font-family: BigJohn;
	text-transform: capitalize;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 35px;
	text-align: center;
	padding-top: 73px;
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  o-transition: 0.5s;
  transition: 0.5s;
}
.hover_work div div:nth-child(2){
	font-family: Amble;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
	padding-top: 0;
	-webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  o-transition: 0.5s;
  transition: 0.5s;
}
a:hover .hover_work{
	display: block;
	background: rgba(0,0,0,0.75);
	cursor: pointer;
}
.hover_work .dush_white{
	width: 48px;
	margin-top: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	background: #d87843;
}

#help{
	height: 500px;
	background: url(../img/help_bg.jpg) no-repeat 0px -318px;
	background-size: 100%;
}
.help_bg{
	background:rgba(34, 34, 34, 0.65);
}

#clients{
	position: relative;
	padding-top: 97px;
	padding-bottom: 130px;
	background: #f4f4f4;
}
#clients_logo{
	width: 1170px;
	height: 94px;
	margin: auto;
	padding-top: 36px;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
}
.logo{
	display: inline-flex;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%); 
}
.logo:hover{
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}
.google_lg a{
	background-image: url(../img/logo/google-logo.png); 
	width: 140px;
	height: 48px;
}
.samsung_lg a{
	background-image: url(../img/logo/samsung-logo.png);
	width: 136px;
	height: 45px;
	margin-left: 99px;
}
.flickr_lg a{
	background: url(../img/logo/flickr-logo.png) no-repeat;
	width: 126px;
	height: 46px;
	margin-left: 99px;
}
 .four_lg a{
	background-image: url(../img/logo/foursquare-logo.png);
	width: 175px;
	height: 48px;
	margin-left: 118px;
}
.pint_lg a{
	background: url(../img/logo/pinterest-logo.png) no-repeat;
	width: 182px;
	height: 47px;
	margin-left: 95px;
}

#team{
	padding-top: 94px;
	padding-bottom: 80px;
	position: relative;
}
#team .subtext{
	padding-top: 6px;
	padding-bottom: 65px;
	margin: auto;
}
#members{
	width: 1170px;
	height: 360px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#members a{
	display: inline-flex;
	width: 270px;
	height: 360px;
	opacity: 0.5;
	position: relative;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%); 
}
#members a:last-child{
	width: 183px;
	height: 60px;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%); 
	display: block;
	opacity: 1;
}
.team_member{
	display: block;
	width: 270px;
	height: 360px;
	position: relative;
	border: 1px solid #222222;
	opacity: 1;
	padding-top: 86px;
	padding-bottom: 59px;
}
.team_member h4{
	width: 128px;
	margin-left: 70px;
	color: #222;
	font-family: "BigJohn";
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}
.team_member .dush_black{
	margin-top: 39px;
	margin-bottom: -40px;
}
/*--------------hover effect------------*/
.hover_user{
	width: 270px;
	height: 360px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #000000;
}
.hover_user div{
	font-family: BigJohn;
	color: #ffffff;
	font-size: 24px; 
	font-weight: 400;
	line-height: 31px; 
	text-align: center;
	text-transform: capitalize;
	padding-top: 16px;
	padding-bottom: 17px;
}
.hover_user span{
	font-family: Amble;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0.9px;
}
.hover_user .ic_user_inf{
	width: 32px;
	height: 32px;
	margin-left: 218px;
	padding-bottom: 238px;
	background: url(../img/icon/ic_user_inf.png) no-repeat;
}
a:hover .hover_user{
	display: block;
	cursor: pointer;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#members a:hover{
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}

#video{
	height: 500px;
	background: url(../img/video_bg.jpg) no-repeat 0px -318px;
	background-size: 100%;
}
.video_bg{
	padding-top: 200px;
	background:rgba(8, 8, 8, 0.7);
	height: 500px;
}
.video_play a{
	width: 65px;
	height: 64px;
	display: block;
	margin: 0 auto;
	background: url(../img/icon/play-ic.svg)
}

#choose_us{
	position: relative;
	padding-bottom:62px;
	padding-top: 98px;
}
#choose_us .subtext{
	line-height: 36px;
	padding-top: 4px;
	padding-bottom: 48px;
}
#slider{
	width: 1136px;
	height: 380px;
}
.slide1{
	color: #222;
	font-family: Amble;
	text-align: center;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	    -webkit-justify-content: space-around;
	            justify-content: space-around;
	    -webkit-align-items: center;
	            align-items: center;
	    
}
.iphone, .ipad, .mac{
	padding-top: 15px;
	width: 350px;
	height: 330px;
}
.ipad{
	padding-top: 47px;
}
.mac{
	padding-top: 37px;
}
.slide1 h6{
	font-size: 22px;
	font-weight: 100;
	text-transform: capitalize;
	margin-bottom: 30px;
	margin-top: 30px;
}
.slide1 p{
	font-size: 18px;
}
.slide1 a{
	display: block;
	margin: auto;
}
.iphone a{
	width: 72px;
	height: 151px;
	background-image: url(../img/iphone.jpg);
}
.ipad a{
	width: 170px;
	height: 120px;
	background-image: url(../img/ipad.jpg);
}
.mac a{
	width: 228px;
	height: 131px;
	background-image: url(../img/mac.jpg);
}
#quote{
	height: 500px;
	background: url(../img/quote_bg.jpg) no-repeat 0px -318px;
	background-size: 100%;

}
.quote_bg{
	background:rgba(34, 34, 34, 0.65);
}

#contacts{
	position: relative;
	padding-top: 98px;
	padding-bottom: 107px;
}
#contacts .subtext{
	padding-top: 6px;
	line-height: 36px;
}

.left{
	width: 40%;
	height: 500px;
	float: left;
	background: #f2f2f2;
}
.left h4{
	color: #222222;
	font-family: BigJohn;
	font-size: 24px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
	padding-top: 96px;
	padding-bottom: 13px;
	text-transform: capitalize;
}
.left span{
	height: 140px;
	color: #222222;
	font-family: Amble;
	font-size: 22px;
	font-weight: 300;
	line-height: 40px;
	margin-bottom: 48px;
	display: block;
	letter-spacing: 0.2px;
}
.left address, .left span a, .left p{
	margin-left: 33.5%;
	width: 230px;
	text-align: left;
	color: #222222;
}
.soc_ic{
	width: 220px;
	height: 25px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 33.5%;
}
.soc_ic li{
	list-style: none;
	display: inline-flex;
}
.soc_ic a{
	width: 24px;
	height: 24px;
	text-decoration: none;
}
.soc_ic a:hover{
	margin-bottom: 1px;
	border-bottom: 3px solid transparent;
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s
    transition: 0.5s;
}
.soc_ic a:first-child{
}
.soc_ic li:nth-child(1){
	background: url(../img/icon/ic_twit.svg)no-repeat 0px 5px;
	margin-left: 0px;
}
.soc_ic li:nth-child(2){
	background: url(../img/icon/ic_fb.svg)no-repeat;
	margin-left: 26px;
}
.soc_ic li:nth-child(3){
	background: url(../img/icon/ic_in.svg)no-repeat;
	margin-left: 14px;
}
.soc_ic li:nth-child(4){
	background: url(../img/icon/ic_v.svg)no-repeat 0px 4px;
	margin-left: 22px;
}
.soc_ic li:nth-child(5){
	background: url(../img/icon/ic_be.svg)no-repeat 0px 8px;
	margin-left: 20px;
}
.right{
	width: 60%;
	height: 500px;
	background: #e4e4e4;
	float: right;
	padding-top: 1px;
	padding-bottom: 1px;
}
.right input{
	width: 31%;
	height: 48px;
	display: inline-block;
	border: none;
	border-bottom: 2px solid #afafaf;
	color: #676767;
	font-family: Amble;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	line-height: 40px;
	background: #e4e4e4;
}
input[name="name"]{
	margin-left: 8%;
	margin-top: 89px;
}
input[name="email"]{
	margin-left: 7%;
}
input[name="massage"]{
	width: 70%;
	height: 47px;
	margin-left: 8%;
	margin-top:  93px;
}
#button{
	width: 183px;
	height: 60px;
	border: 3px solid #222222;
	background: transparent;
	color: #222;
	font-family: Amble;
	font-size: 24px;
	font-weight: 700;
	line-height: 60px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-left: 58.5%;
	margin-top: 4%;
	letter-spacing:1.5px;
}
#button:hover{
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	cursor: pointer;
	color: #d87843;
	border: 3px solid #d87843;
}

footer{
	background-color: #222222;
	padding-top: 100px;
	padding-bottom: 87px;
}
footer div{
	width: 380px;
	height: 80px;
	margin: auto;
	background: url(../img/logo/logo_s.png)no-repeat;
}
footer p{
	color: #e4e4e4;
	font-family: Amble;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	padding-top: 53px;
	text-transform: capitalize;
}
footer span{
	color: #e4e4e4;
	font-weight: 400;
}
footer a{
	color: #d87843;
	font-weight: 700;
}
footer a:hover{
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	background: #d87843;
	color: #222;
}